*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
}
.user-history{
    height: 700px;
    background-color: #f0ddce;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.detail-title{
    text-align: center;
    margin-bottom: 4rem;
}
.detail-title1{
    height: 200px;
    width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    margin-bottom: 4rem;
    margin-left: 16rem;
    
    background-color: rgb(3, 215, 252);

}
.history-table{
    background-color: white;
}
table,th,td{
    border: 2px solid black;
}
table{
    width: 80%;
}
.display-date{
    text-align: center;
}

.table-date{
    width: 100px;
    
}
.table-drname{
    width: 250px;
}
/* user */
.user{
    width: 46px;
    height:46px;
    font-size: 1.5rem;
    background-color: white;
    color: rgb(3, 215, 252);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
}
.user:hover{
    border: 1.5px solid darkblue;
    border-radius: 100px;
}
/* toggle bar */
#sidebarmenu{
    width: 250px;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 70px;
    transform: translateX(250px);
    transition: transform 250ms ease-in-out;
    background: darkblue;
}
.menu{
    list-style: none;
    padding: 0;
    margin: 0;
}
.menu li{
    border-bottom: 1px solid rgba(255, 255, 255, 0.20);
}
.menu li a{
    color: #fff;
    display: block;
    padding: 20px;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
}
.menu li a:hover{
  background-color: rgb(3, 215, 252,0.5);
}
#opensidebar:checked ~ #sidebarmenu {
    transform: translateX(0px);
}
input#opensidebar{
    display: none;
}
.sidebarIconToggle{
      
    width: 46px;
    height:46px;
    
    position: absolute;
    z-index: 99; 
    top: 12px;
    right: 118px;
    transition: all 0.3s;
    cursor: pointer; 
    border-radius: 100px;
    
}