<!DOCTYPE html>
<html>
    <head>
        <title>User Details</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
        <link rel="stylesheet" href="/static/cssfiles/aboutusstyle.css">
        <link rel="stylesheet" href="/static/cssfiles/userhistorystyle.css">
        
    </head>
    
    <body>
        <!-- header -->
        <header>

            <div class="navbar" >

                <div class="pro_title border">
                    <i class="fa-solid fa-tooth"></i>
                    DENTIST
                </div>

                
                <div class="user-part">
                    <div class="contact-us border">
                        <a href="{% url 'contact' %}">Contact Us</a>
    
                    </div>
                    <div class="about-us border">
                        <a href="{% url 'about' %}">About Us</a>
    
                    </div>
    
                    <div class="user">
                        <i class="fa-solid fa-user"></i>
                    </div>
                </div>
            </div>
                

        </header>
        <!-- toggle menu -->
        <input type="checkbox" id="opensidebar">
        <label for="opensidebar" class="sidebarIconToggle"></label>
        <div id="sidebarmenu">
            <ul class="menu">
                <li><a href="{% url 'userdetail' email %}">Details</a></li>
                <li><a href="{% url 'applist' email %}">Appointments</a></li>
                <li><a href="{% url 'history' email%}">History</a></li>
                <li><a href="{%url 'userlogout'%}">Log Out</a></li>
            </ul>
        </div> 

        <!-- users appointments history-->
        <div class="user-history" id="appointment-history">
            <div class="detail-title">
                <h1>Appointment History</h1>
            </div>
            {%if noappointment == True%}
            <table class="history-table">

                <tr>
                    
                    <th class="table-date">Date</th>
                    <th class="table-drname">Doctor Name</th>
                    <th class="table-prescribe">Prescription</th>
                </tr>
                {%for n in userdetail%}
                <tr>
                    
                    <td class="display-date">
                        <p>{{n.appdate}}</p>
                    </td>
                    <td>
                        <p>{{n.doctorname}}</p>
                    </td>
                    <td>
                        <p>{{n.prescription}}</p>
                    </td>
                </tr>
                {%endfor%}
               
            </table>
            {% elif noappointment == False  %}
            <div class="detail-title1">
                <h1>No Appointment history</h1>
            </div>
            {%endif%}
        </div>
       
        
        
        <!-- footer -->
        <footer>
            <div class="panel1 ">
                <ul class="ul1">
                    <p>Get to know Us</p>
                    <a href="{% url 'userhp' email %}">Home</a>
                    <a href="{% url 'about' %}">About Us</a>
                    <a href="{% url 'contact' %}">Contact Us</a>
                    
                    
                </ul>
                <ul class="ul1">
                    <p>For Patients</p>
                    <a href="{% url 'userhp' email %}">Find Doctors</a>
                    <a href="{% url 'userhp' email %}">Book appointment</a>
                </ul>

                <ul>
                    <p>Social</p>
                    <div class="social">
                        <i class="fa-brands fa-x-twitter"></i>
                        <a href="#">Twitter</a>
                    </div>
                    <div class="social">
                        <i class="fa-brands fa-facebook"></i>
                        <a href="#">Facebook</a>
                    </div>
                    <div class="social">
                        <i class="fa-brands fa-instagram"></i>
                        <a href="#">Instagram</a>
                    </div>
                </ul>


            </div>
            <div class="panel2">
                <div class="pro_title border">
                    <i class="fa-solid fa-tooth"></i>
                    DENTIST
                </div>
            </div>

            <div class="panel3">
                <p>DENTIST © 2024, All Rights Reserved </p>
            </div>
        </footer>
    </body>
</html>